.forgot-heading {
    color: #5c218b;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin: 0px;
}

.heading2 {
    color: #8f8f8f;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.forgot-password-container {
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 750px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.back-to-login-btn {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #8f8f8f;
    font-size: 12px;
    cursor: pointer;
}

.sent-otp-btn {
    background: #5c218b;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    opacity: 0px;
}

.otp-input {
    width: 250px;
    border: 1px solid #9d9d9d;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
